* text=auto !eol
/_REGLES_DE_COMMIT.txt -text
/_TODO.txt -text
base/jeux_ajouter_resultat.php -text
base/jeux_tables.php -text
fonds/bouton_corriger.html -text
fonds/bouton_envoyer.html -text
fonds/bouton_recommencer.html -text
fonds/bouton_reinitialiser.html -text
fonds/bouton_rejouer.html -text
fonds/bouton_valider.html -text
fonds/jeu_score.html -text
formulaires/configurer_jeux.html -text
formulaires/editer_jeu.html -text
formulaires/editer_jeu.php -text
formulaires/jeu.html -text
formulaires/jeu.php -text
formulaires/jeux_gerer_resultats.html -text
formulaires/jeux_gerer_resultats.php -text
/gpl_fr.txt -text
icones_barre/jeu-16.png -text
img/diag_echecs29/bb.gif -text
img/diag_echecs29/bb.png -text
img/diag_echecs29/bk.gif -text
img/diag_echecs29/bk.png -text
img/diag_echecs29/bn.gif -text
img/diag_echecs29/bn.png -text
img/diag_echecs29/bp.gif -text
img/diag_echecs29/bp.png -text
img/diag_echecs29/bq.gif -text
img/diag_echecs29/bq.png -text
img/diag_echecs29/br.gif -text
img/diag_echecs29/br.png -text
img/diag_echecs29/wb.gif -text
img/diag_echecs29/wb.png -text
img/diag_echecs29/wk.gif -text
img/diag_echecs29/wk.png -text
img/diag_echecs29/wn.gif -text
img/diag_echecs29/wn.png -text
img/diag_echecs29/wp.gif -text
img/diag_echecs29/wp.png -text
img/diag_echecs29/wq.gif -text
img/diag_echecs29/wq.png -text
img/diag_echecs29/wr.gif -text
img/diag_echecs29/wr.png -text
img/diag_echecs35/bb.gif -text
img/diag_echecs35/bb.png -text
img/diag_echecs35/bk.gif -text
img/diag_echecs35/bk.png -text
img/diag_echecs35/bn.gif -text
img/diag_echecs35/bn.png -text
img/diag_echecs35/bp.gif -text
img/diag_echecs35/bp.png -text
img/diag_echecs35/bq.gif -text
img/diag_echecs35/bq.png -text
img/diag_echecs35/br.gif -text
img/diag_echecs35/br.png -text
img/diag_echecs35/wb.gif -text
img/diag_echecs35/wb.png -text
img/diag_echecs35/wk.gif -text
img/diag_echecs35/wk.png -text
img/diag_echecs35/wn.gif -text
img/diag_echecs35/wn.png -text
img/diag_echecs35/wp.gif -text
img/diag_echecs35/wp.png -text
img/diag_echecs35/wq.gif -text
img/diag_echecs35/wq.png -text
img/diag_echecs35/wr.gif -text
img/diag_echecs35/wr.png -text
img/diag_echecs35A/bb.png -text
img/diag_echecs35A/bk.png -text
img/diag_echecs35A/bn.png -text
img/diag_echecs35A/bp.png -text
img/diag_echecs35A/bq.png -text
img/diag_echecs35A/br.png -text
img/diag_echecs35A/wb.png -text
img/diag_echecs35A/wk.png -text
img/diag_echecs35A/wn.png -text
img/diag_echecs35A/wp.png -text
img/diag_echecs35A/wq.png -text
img/diag_echecs35A/wr.png -text
img/diag_echecs35L/bb.png -text
img/diag_echecs35L/bk.png -text
img/diag_echecs35L/bn.png -text
img/diag_echecs35L/bp.png -text
img/diag_echecs35L/bq.png -text
img/diag_echecs35L/br.png -text
img/diag_echecs35L/wb.png -text
img/diag_echecs35L/wk.png -text
img/diag_echecs35L/wn.png -text
img/diag_echecs35L/wp.png -text
img/diag_echecs35L/wq.png -text
img/diag_echecs35L/wr.png -text
img/diag_echecs35M/bb.png -text
img/diag_echecs35M/bk.png -text
img/diag_echecs35M/bn.png -text
img/diag_echecs35M/bp.png -text
img/diag_echecs35M/bq.png -text
img/diag_echecs35M/br.png -text
img/diag_echecs35M/wb.png -text
img/diag_echecs35M/wk.png -text
img/diag_echecs35M/wn.png -text
img/diag_echecs35M/wp.png -text
img/diag_echecs35M/wq.png -text
img/diag_echecs35M/wr.png -text
img/diag_echecs55A/bb.png -text
img/diag_echecs55A/bk.png -text
img/diag_echecs55A/bn.png -text
img/diag_echecs55A/bp.png -text
img/diag_echecs55A/bq.png -text
img/diag_echecs55A/br.png -text
img/diag_echecs55A/wb.png -text
img/diag_echecs55A/wk.png -text
img/diag_echecs55A/wn.png -text
img/diag_echecs55A/wp.png -text
img/diag_echecs55A/wq.png -text
img/diag_echecs55A/wr.png -text
img/diag_echecs55L/bb.png -text
img/diag_echecs55L/bk.png -text
img/diag_echecs55L/bn.png -text
img/diag_echecs55L/bp.png -text
img/diag_echecs55L/bq.png -text
img/diag_echecs55L/br.png -text
img/diag_echecs55L/wb.png -text
img/diag_echecs55L/wk.png -text
img/diag_echecs55L/wn.png -text
img/diag_echecs55L/wp.png -text
img/diag_echecs55L/wq.png -text
img/diag_echecs55L/wr.png -text
img/diag_echecs55M/bb.png -text
img/diag_echecs55M/bk.png -text
img/diag_echecs55M/bn.png -text
img/diag_echecs55M/bp.png -text
img/diag_echecs55M/bq.png -text
img/diag_echecs55M/br.png -text
img/diag_echecs55M/wb.png -text
img/diag_echecs55M/wk.png -text
img/diag_echecs55M/wn.png -text
img/diag_echecs55M/wp.png -text
img/diag_echecs55M/wq.png -text
img/diag_echecs55M/wr.png -text
img/echiquiers/wood35.png -text
img/echiquiers/wood55.png -text
img/pendu1/config.ini -text
img/pendu1/pendu0.gif -text
img/pendu1/pendu1.gif -text
img/pendu1/pendu2.gif -text
img/pendu1/pendu3.gif -text
img/pendu1/pendu4.gif -text
img/pendu1/pendu5.gif -text
img/pendu1/pendu6.gif -text
img/pendu2/config.ini -text
img/pendu2/pendu0.gif -text
img/pendu2/pendu1.gif -text
img/pendu2/pendu10.gif -text
img/pendu2/pendu2.gif -text
img/pendu2/pendu3.gif -text
img/pendu2/pendu4.gif -text
img/pendu2/pendu5.gif -text
img/pendu2/pendu6.gif -text
img/pendu2/pendu7.gif -text
img/pendu2/pendu8.gif -text
img/pendu2/pendu9.gif -text
img/pendu3/A1.gif -text
img/pendu3/A2.gif -text
img/pendu3/A3.gif -text
img/pendu3/A4.gif -text
img/pendu3/B1.gif -text
img/pendu3/B2.gif -text
img/pendu3/B3.gif -text
img/pendu3/B4.gif -text
img/pendu3/C1.gif -text
img/pendu3/C2.gif -text
img/pendu3/C3.gif -text
img/pendu3/C4.gif -text
img/pendu3/config.ini -text
javascript/jeux.js -text
javascript/mots_croises.js -text
javascript/pendu.js -text
javascript/qcm.js -text
javascript/sudoku.js -text
/jeux.css.html -text
jeux/chesstuff.php -text
jeux/demineur.todo -text
jeux/devinettes.php -text
jeux/diag_echecs.php -text
jeux/diag_echecs_inc.php -text
jeux/diag_echecs_init.php -text
jeux/escalettre.todo -text
jeux/kakuro.todo -text
jeux/mots_croises.php -text
jeux/multi_jeux.php -text
jeux/pendu.php -text
jeux/qcm.php -text
jeux/rebus.todo -text
jeux/saisies.php -text
jeux/shanghai.todo -text
jeux/sudoku.php -text
jeux/textes.php -text
jeux/trous.html -text
jeux/trous.php -text
/jeux_administrations.php -text
/jeux_autorisations.php -text
/jeux_config.php -text
/jeux_fonctions.php -text
/jeux_pipelines.php -text
/jeux_utils.php -text
lang/jeu.xml -text
lang/jeu_en.php -text
lang/jeu_fr.php -text
lang/jeu_nl.php -text
lang/jeux.xml -text
lang/jeux_de.php -text
lang/jeux_en.php -text
lang/jeux_eu.php -text
lang/jeux_fr.php -text
lang/jeux_gerer_resultats.xml -text
lang/jeux_gerer_resultats_fr.php -text
lang/jeux_gerer_resultats_nl.php -text
lang/jeux_it.php -text
lang/jeux_nl.php -text
lang/motscroises.xml -text
lang/motscroises_en.php -text
lang/motscroises_fr.php -text
lang/motscroises_it.php -text
lang/motscroises_nl.php -text
lang/paquet-jeux.xml -text
lang/paquet-jeux_fr.php -text
lang/paquet-jeux_nl.php -text
lang/pendu.xml -text
lang/pendu_fr.php -text
lang/pendu_it.php -text
lang/pendu_nl.php -text
lang/qcm.xml -text
lang/qcm_en.php -text
lang/qcm_fr.php -text
lang/qcm_it.php -text
lang/qcm_nl.php -text
lang/sudoku.xml -text
lang/sudoku_en.php -text
lang/sudoku_fr.php -text
lang/sudoku_it.php -text
lang/sudoku_nl.php -text
modeles/auteur_resultats.html -text
modeles/chesstuff.html -text
modeles/jeu.html -text
modeles/jeu_resultats.html -text
modeles/resultats_tableau.html -text
modeles/resultats_tableau_totaux.html -text
/paquet.xml -text
prive/jeux_prive.css -text
prive/objets/contenu/jeu.html -text
prive/objets/liste/jeux.html -text
prive/squelettes/contenu/configurer_jeux.html -text
prive/squelettes/contenu/jeu.html -text
prive/squelettes/contenu/jeu_edit.html -text
prive/squelettes/contenu/jeux_resultats.html -text
prive/squelettes/extra/jeu.html -text
prive/squelettes/extra/jeux_resultats.html -text
prive/squelettes/navigation/configurer_jeux.html -text
prive/squelettes/navigation/jeu_edit.html -text
prive/squelettes/navigation/jeux.html -text
prive/squelettes/navigation/jeux_resultats.html -text
prive/themes/spip/images/jeu-16.png -text
prive/themes/spip/images/jeu-24.png -text
prive/themes/spip/images/jeu-add-16.png -text svneol=unset#unset
prive/themes/spip/images/jeu-add-24.png -text svneol=unset#unset
prive/themes/spip/images/jeu-config-24.png -text
prive/themes/spip/images/jeu-del-16.png -text svneol=unset#unset
prive/themes/spip/images/jeu-del-24.png -text svneol=unset#unset
prive/themes/spip/images/jeu-edit-16.png -text svneol=unset#unset
prive/themes/spip/images/jeu-edit-24.png -text svneol=unset#unset
prive/themes/spip/images/jeu-laurier-16.png -text
prive/themes/spip/images/jeu-laurier-24.png -text
prive/themes/spip/images/jeu-new-16.png -text svneol=unset#unset
prive/themes/spip/images/jeu-new-24.png -text svneol=unset#unset
prive/themes/spip/images/jeux-48.png -text
styles/mots_croises.css -text
styles/pendu.css -text
styles/qcm.css -text
styles/sudoku.css -text
styles/trous.css -text
tests/types_tables_id_jeux.php -text
vues/jeux_texte.html -text
